@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
   margin: 0;
   padding: 0;
}

body{
   overflow-x: hidden;
   font-family: "Merriweather", serif;
}

.banner-wrapper{
   margin: 40px 100px;
}

.banner{
   position: relative;
   width: 100%;
   height: 75vh;
   background-image: url(./images/Banner\ Image.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
   overflow: hidden;
}

.ban-content{
   position: absolute;
   inset: 0;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   align-items: center;
   justify-content: center;
   border-radius: 20px;
}

.ban-title{
   font-size: 3rem;
   margin-bottom: 10px;
   text-align: center;
   text-shadow: 2px 2px 0 #000;
}

.ban-head{
   font-size: 6rem;
   font-weight: bold;
   text-align: center;
   text-shadow: 2px 2px 0 #000;
}

.off{
   margin: 0 100px;
   justify-content: center;
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 10px;
   padding: 40px 40px;
   font-family: "Inter", sans-serif;
}

.off-title{
   color: red;
   font-size: 5rem;
   font-weight: bold;
}

.off-sub{
   color: red;
   font-size: 1.5rem;
   padding-bottom: 10px;
}

.off-des{
   font-size: 2.3rem;
   font-weight: bold;
   padding-bottom: 30px;
}

.off-pic{
   width: 50%;
   height: auto;
   align-self: center;
   padding-bottom: 20px;
}

.banner2-wrapper{
   flex: 1;
   margin: 40px 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
}

.banner2{
   width: 100%;
   height: 75vh;
   background-image: url("./images/Vectorrr.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 20px;
   overflow: hidden;
}

.ban2-content{
   flex: 1;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 150px 20px 200px 100px;
   width: 100%;
}

.ban2-title{
   font-size: 4rem;
   font-weight: bold;
   text-shadow: 2px 2px 0 #000;
   padding-bottom: 20px;
}

.ban2-des{
   font-size: 1rem;
   text-shadow: 2px 2px 0 #000;
   padding-bottom: 20px;
   font-family: "Inter", sans-serif;
}

.banner2-pic{
  max-height: 100%;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 40px;
}

.ban2-btn {
   height: 50px;
   width: 150px;
   background-color: transparent;
   color: white;
   box-shadow: none;
   border-style: none;
}